@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  border: 1px solid grey;
  background-color: #efefef;
  padding: 0 5px;
  border-radius: 5px;
}

/* ref */
.success {
  background-color: lightgreen;
}

.failure {
  background-color: lightcoral;
}